.cover-image{
    width:100%;
    height: 690px;
    background-image: url("../images/cover/cover-main2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-nav a{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1.7em;
    font-weight: 500;
}

.navbar-bgcolor{
    background-image: linear-gradient(#F08080,#FFA07A);
}

.icon-main{
   margin-top: 10%;
}

.text-logo-main{
    font-family: 'Quicksand', sans-serif;
    font-size: 5em;
    margin-top: -2%;
    font-weight: 700;
}

.text-easy{
    color: #F08080;
}

.text-job{
    color: #196985;
}

.btn-size{
    width: 100%;
    background: linear-gradient(to bottom, #F08080 0%, #FFA07A 100%);
    color: #fff;
    margin-bottom: 7%;
}

.btn-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

.form-border{
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgba(0,0,0 ,0.2);
}